body {

    background-color:#C6E0EC;
    font-family: sans-serif;
    
}
h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1pt;
}

h2 {
    background-color:#4099BF;
}

pre {
    background-color: white; 
    font-weight: bold;
}

h3 {
    background-color:#79B8D2;
    color:white;
}
address {
    text-align: right;
    font-family: sans-serif;
}